<h2>Edit Swag</h2>
<form action="update_swag/<%= @photo.id %>">
  <input type ="text" name="url1" placeholder = "First Url" value = "<%= @photo.url1 %>"> 
  <input type ="text" name="url2" placeholder = "Second Url" value = "<%= @photo.url2 %>">
  <input type ="text" name="url3" placeholder = "Third Url" value = "<%= @photo.url3 %>">
  <input type = "submit">
</form>