<h2>New Swag</h2>
<form action="create_swag">
  <input type ="text" name="url1" placeholder = "First Url">
  <input type ="text" name="url2" placeholder = "Second Url">
  <input type ="text" name="url3" placeholder = "Third Url">
  <input type = "submit">
</form>